body{
    font-size:1.2em
}

.all_site{
    margin: 50px 50px 40px;

    input{
        color:#0800ff;
        font-weight: bold;
        border-radius:1.6em;
    }

    .search{
        color:#00a419;
    }
}
