@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

*{
    font-size: 1.1em;
}

.all_site{
    padding: 1rem;
    #cdn{image.pngimage.pngimage.png
        code{
            font-family: 'Fira Code', monospace;
            display: inline-block;
            border: 0.25rem solid #0077ff;
            background: black;
            color: #ffd2d2;
        }
    }

    a{
        text-decoration: none;
        color: #d88900 ;
        transition: color 800ms;
        font-weight: 500;
    }

    a:hover {
        text-decoration: underline;
        color: blue;
    }
}